**/old/**
*.7z
*.pyc
*.rar
*.sh
*.tmp.py
*.tsv
*.zip
*/__pycache__/*
*/old/*
.env
.env2
src/desc_dicts/__.py
src/himowd-public_html/**
src/lex-examples/*.json
src/lex-examples/forms
src/nep/tables/new_types.json
src/neq/nldesc.commands.txt
src/prop_labs/cache_data.json
src/prop_labs/cache_data_labels.json
src/prop_labs/cache_data_new.json
src/prop_labs/dump.jsonl
src/prop_labs/gemini_bot copy.py
src/tttt.py
yemen-pip.txt
