**/old/**
**/**copy.py
*.7z
*.pyc
*.rar
*.tmp.py
*.zip
.env
.env2
src/desc_dicts/__.py
src/himowd-public_html/**
src/lex-examples/*.json
src/lex-examples/forms
src/nep/tables/new_types.json
src/neq/nldesc.commands.txt
src/prop_labs/cache_data.json
src/prop_labs/cache_data_labels.json
src/prop_labs/cache_data_new.json
src/prop_labs/dump.jsonl
src/tttt.py
yemen-pip.txt
src/cy/jsub.sh
