*.ini
!pytest.ini
**/old/**
*.7z
*.c
*.css
*.csv
*.csv3
*.html
*.js
*.lnk
*.log
*.php
*.png
*.pyc
*.rar
*.sh
*.tmp.py
*.tsv
*.txt
*.url
*.xlsx
*.zip
*/__pycache__/*
*/log/*
*/old/*
*/sh/*
/src/lex-examples/forms
000other/*
000other/*/*
aaaaa/**
add_paper/*
API/botpass.py
API/uu_py/*
c18/a.ipynb
coppy/old/2
log/*.*
old/*
src//lex-examples/forms
src/0not_used/**
src/desc_dicts/__.py
src/dump/colab.py
src/himowd-public_html/**
src/lex-examples/all_arabic_by_category.json
src/lex-examples/forms_examples.json
src/lex-examples/output.json
src/lex-examples/quran-uthmani.json
src/nep/tables/new_types.json
src/people/compare_files/**
src/prop_labs/.env
src/prop_labs/.env2
src/prop_labs/cache_data.json
src/prop_labs/cache_data_labels.json
src/prop_labs/cache_data_new.json
src/prop_labs/dump.jsonl
src/prop_labs/gemini_bot copy.py
src/testoo.py
src/tttt.py
src/wikidataintegratorxx/**
stub/commands/**
wikidataintegrator2/**
